name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    docker:
      - image: cimg/rust:1.90.0
    steps:
      - checkout
      - run: cargo --version
