name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    docker:
      - image: cimg/rust:1.90.0
    steps:
      - checkout
      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
